@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../node_modules/@fortawesome/fontawesome-free/scss/brands';
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular";

// Optionally, you can also import the variables and mixins for more control
@import "../node_modules/@fortawesome/fontawesome-free/scss/_variables";
@import "../node_modules/@fortawesome/fontawesome-free/scss/_mixins";

@font-face {
  font-family: 'FontAwesome';
  src: url('../node_modules/@fortawesome/fontawesome-free/webfonts/fa-solid-900.woff2') format('woff2'),
  url('../node_modules/@fortawesome/fontawesome-free/webfonts/fa-solid-900.ttf') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Neucha;
  src: url(font/Neucha-Regular.ttf);
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../node_modules/@fortawesome/fontawesome-free/webfonts/fa-brands-400.woff2') format('woff2'),
  url('../node_modules/@fortawesome/fontawesome-free/webfonts/fa-brands-400.ttf') format('woff');
  font-weight: 900;
  font-style: normal;
}

@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: #e8f5e9; /* Couleur de fond verte pâle */
}
.navbar {
  background-color: #2e7d32; /* Vert foncé pour la barre de navigation */
}
.navbar-brand, .nav-link {
  color: #ffffff !important; /* Couleur des liens en blanc */
}
.hero {
  //background-image: url('../images/hero-image.jpg'); /* Image de fond pour le hero */
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-align: center;
  padding: 100px 0;
}
.hero-no-background {
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-align: center;
  padding: 100px 0;
}
.hero h1 {
  font-size: 4rem;
  font-weight: bold;
}
.hero p {
  font-size: 1.5rem;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
}
.footer {
  background-color: #2e7d32;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}
.hero-scene{
  position: relative;
  &::before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    //background-image: url('../images/hero-image.jpg');
    background-size: cover;
    filter: brightness(0.3);
  }

  *{
    //Positionner les éléments devant le ::before
    position:relative;
  }

  .hero-scene-content{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.image-card{
  position:relative;
  &:hover{
    .titre-image{
      opacity: 1;
    }
    img{
     filter: brightness(0.3);
    }
  }

  img{
    transition: all 0.3s;
  }

  .titre-image{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s;
  }
}

/* CSS pour la galerie d'images */
.gallery-image {
 width: 100%; /* La largeur de l'image est définie à 100% */
  height: 100%; /* La hauteur est ajustée automatiquement pour conserver les proportions */
  object-fit: cover; /* Pour s'assurer que l'image couvre toute la zone définie */
 max-height: 250px; /* Taille maximale souhaitée pour les images, ajustez selon vos besoins */
  display: block;
}

.visitor-reviews {
  background-color: #f8f9fa;
  padding-bottom: 30px;
}
.pres h2 {
  font-family: Neucha, sans-serif;
  color: #25b2a2;
}
.section-header h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  //background-color: #E8F5E9;;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

.rating .star {
  color: #ffc107; /* Couleur des étoiles */
  font-size: 1.5rem;
  margin-right: 5px;
}

.zoo-presentation {
  background-color: #f8f9fa;
  padding-top: 30px;
}

.section-header p {
  font-size: 1.25rem;
  color: #555;
}

h3 {
  font-size: 1.75rem;
  margin-top: 20px;
 // background-color: #E8F5E9;
}
.pres h3 {
  font-family: Neucha, sans-serif;
  color: #25b2a2;
}
ul {
  padding-left: 20px;
}

ul li {
  //font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.without-dot {
  list-style-type: none;
}

.img-fluid {
  max-height: 400px;
  object-fit: cover;
}

.text-center {
  font-size: 1rem;
  font-weight: bold;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #4caf50;
  color: white;
  padding: 20px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-section h3 {
  margin-top: 0;
}

.footer-section p,
.footer-section ul,
.footer-section form {
  margin: 10px 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
}

.social-media li {
  margin-right: 10px;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  background-color: #388e3c;
}

.footer-bottom p {
  margin: 0;
}

.footer-section form {
  display: flex;
  flex-direction: column;
}

.footer-section form input,
.footer-section form button {
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
}

.footer-section form input {
  flex: 1;
}

.footer-section form button {
  background-color: #2e7d32;
  color: white;
  cursor: pointer;
}

.footer-section form button:hover {
  background-color: #1b5e20;
}
.footer-section ul li a {
  padding: 5px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }
}

.center {
  text-align: center;
}

.carousel-item img {
  width: 1000px; /* Largeur fixe pour les images */
  height: 600px; /* Hauteur fixe pour les images */
  object-fit: cover; /* Ajuste l'image pour remplir le conteneur sans distorsion */
}
.custom-section {
  background-color: #f8f9fa; /* Couleur de fond personnalisée */
  margin: 20px 0; /* Marge personnalisée */
  padding: 20px;
}

.image-card-col1, .image-card-col2, .image-card-col3 {
  position: relative;
  overflow: hidden;
}

.image-card-col1 .gallery-image, .image-card-col2 .gallery-image, .image-card-col3 .gallery-image {
  width: 100%;
  display: block;
}

.image-card-col1 .overlay, .image-card-col2 .overlay, .image-card-col3 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 175, 109, 0.0); /* Overlay initial transparent */
  transition: background-color 0.3s ease; /* Transition douce pour le changement de couleur */
  border-radius: var(--bs-border-radius) !important;
  z-index: 1;
}

.image-card-col1:hover .overlay {
  background-color: rgba(51, 175, 109, 0.6); /* Couleur et opacité de l'overlay au survol */
}

.image-card-col2:hover .overlay {
  background-color: rgba(223,82,0,.5);
}

.image-card-col3:hover .overlay {
  background-color: rgba(0,114,189,.5); /* Couleur et opacité de l'overlay au survol */
}
.image-card-col1 .titre-image, .image-card-col2 .titre-image, .image-card-col3 .titre-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.image-card-col1:hover .titre-image, .image-card-col2:hover .titre-image, .image-card-col3:hover .titre-image {
  opacity: 1;
}